.btn:first-child {
  padding: 10px 30px;
  color: #555;
  background: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 5px;
  margin: 10px;


  /* Rectangle */
}
.btn {
  padding: 10px 30px;
  color: white;
  background: linear-gradient(270deg, #ad2965 29.17%, #5a2d91 100%);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 194px;
  border: none;
  margin: 15px 10px 10px 29px;
  font-size: 16px;
  font-weight: 1;
  /* Rectangle */
}
.subscription {
	padding-bottom: 20px;
	padding-top : -10px;
}
.subscription >p {
	margin-left : 20px;
	margin-bottom : 30px;
	font-size: 14px;
}
.subscription .offers {
	display: flex;
	width: 100%;
	margin-top: 10px;
	flex-flow: row wrap;
	justify-content: center;
}
.subscription .offers > * {
}
.subscription .offers > div {
	position: relative;
	margin: 10px;
}
.subscription > p {
	margin-top: 0 !important;
}
.subscription .offers > div span.mostpop {
	background: #ad2965;
	color: #FAF8F8;
	font-family: Dosis;
	padding: 10px;
	padding-top: 3px;
	position: absolute;
	top: -25px;
	left: 20px;
	border-radius: 10px;
}
.subscription .offers > div {
	width: 252px;
	height: 380px;
}
.subscription .offers article {
	/* padding: 17px 5px; */
	height: 380px;
	position: relative;
	font-family: Dosis;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	background: #FAF8F8;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}
.subscription .offers article:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}
.subscription .offers h2 {
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: normal;
	margin-top: 25px;
	margin-bottom: 0;
	color: #ad2965;
}
.subscription .offers h2::before {
	content: "";
	height: 40px;
	width: 4px;
	display: inline-block;
	position: absolute;
	top: 30px;
	left: -1px;
	background: linear-gradient(180deg, #ad2965 39.78%, #5a2d91 100%);
	z-index: 1000;
}
.subscription .offers article p strong {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: normal;
	text-align: center;

	color: #000000;
}

.subscription .offers article p {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: -3px;
	color: #000000;
	margin-left: 25px;
}

.subscription .offers article> span {
	background: linear-gradient(270deg, #ad2965 29.17%, #5a2d91 100%);
	box-sizing: border-box;
	color: white;
	padding: 5px 0px 5px 25px;
	margin-top: 5px;
	width: 100%;
	font-size: 20px;
	font-weight: 100;
}
/* .subscription .offers article> span div{
	height: 60px
} */
.subscription .offers .btnSelected {
	padding: 10px 30px;
	color: #ad2965;
	background: #fff;
	border: 1px solid #ad2965;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	width: 194px;
	margin: 15px 10px 10px 29px;
	font-size: 16px;
}
.subscription .offers article span img {
	vertical-align: top;
}

.subscription .offers article small {
	font-size: 16px;
	font-family: dosis;
	margin-left: 25px;
	margin-top: 14px;
	color: #3A3A3A;
}
.subscription .offers article small div{
	font-size: 16px;
	font-family: dosis;
	margin-top: 11px
}
.subscription .switcherContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscription .switcherContainer label {
	color: #ad2965;
	margin: 0 10px;
	display: inline-block;
}
.subscription .switcherContainer .PluginPricingSave {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 50px;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
	margin-top: 10px;
}
 .popUpError {
	width : 95% !important;
	height: 95% !important;
}

.popUpError h2{
	color: #AD2965;
	font-size: 24px;
	margin-top: 5px;
	font-weight: 200;
	margin-left: 28px;

}
 .popUpError p {
	margin-left: 28px;
	font-size: 14px;
	margin-bottom : 10px;
	font-weight: normal;
	margin-top: 0px;
}

.popUpError .priceConf {
	margin-left: 28px;
	font-size: 20px;
	margin-bottom : 10px;
	font-weight: normal;
}
.popUpError strong{
	color: #AD2965;
}
.sadGhost{
	margin: 0px 0px 0px 25px;
}
.unsubscribeText{
	font-size:16px;
	margin: 0px 0px 0px 0px !important;
	text-align: center
}